@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --blue: #1F9AFF;
    --white: #FFF;
    --gray: #0E0E0E;
    --black: #000000
}

a {
    color: var(--black);
    text-decoration: none;
}