.home-head_banner_code {
    color: white;
    background-color: var(--primary-color);

    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-box_txt_banner_code {
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-name_banner_code {
    font-size: 3em;

    animation: anm-title-banner-code 1s ease-out;
}

.home-title_banner_code {
    font-size: 2em;

    animation: anm-subtitle-banner-code 1.5s ease-out;
}

.home-sub_title_banner_code {
    animation: anm-subtitle-banner-code 2s ease-out;
}

.home-wrapper_profile_img {
    height: 220px;
}

.home-wrapper_profile_img img {

}

.home-main_sections {
    width: 80%;
    height: 500px;

    margin: 200px auto 80px auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

.home-contact_plus {
    background-color: var(--secondary-color);
    margin: 10px;
}

.home-content_container_index {
    margin: 10px;

    background-color: var(--secondary-color);
}
@keyframes anm-title-banner-code {
    0% {
        transform: translateY(-40px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes anm-subtitle-banner-code {
    0% {
        transform: translateY(-30px);
        opacity: 0%;
    }
    70% {
        transform: translateY(-30px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}