

.navbar-transparent {
    position: fixed;

    transition-duration: .2s;

    height: 100px;

    padding: 0!important;
}

.icon-menu {
    color: white;

    font-size: 3rem;

    margin-right: 30px;

    transition-duration: .5s;
}

.icon-menu:active {
    transform: scale(0.9);
}

.sticky-nav {
    height: 80px;

    background-image: none;
    background-color: var(--gray);
}

.nav-bar-mobile-brand span{
    width: 43px!important;
    height: 42px;
}

.title-logo-mobile {
    font-size: 14px!important;
}

.navbar-transparent a {
    color: var(--white);

    font-size: 15px;

    text-decoration: none;
}

.container-nav-bar {
    width: 100%;

    padding: 0;
}

.navbar-brand  {

    display: flex;
    align-items: center;

    margin-left: 30px;
    margin-right: 0!important;
}


.navbar-brand .title-logo {
    position: relative;

    margin-left: 20px;

    font-size: 18px;

    font-family: 'Orbitron', sans-serif;
}

.nav-list {
    display: flex;
    justify-content: space-between;

    width: min-content;

    margin-right: 80px;
}

.nav-list-item {
    position: relative;
    text-align: center;
    text-decoration: none;

    margin-left: 30px;

    font-family: 'Orbitron', sans-serif;

    cursor: pointer;
}

.linkActive {
    position: relative;
}

.linkActive::before {
    content: '';

    transition-duration: .2s;

    width: 100%!important;
    height: 1px;

    position: absolute;
    bottom: 0;

    background-color: var(--blue);
}

.nav-list-item::before,
.title-logo::before  {
    content: '';

    transition-duration: .2s;

    width: 0%;
    height: 1px;

    position: absolute;
    bottom: 0;

    background-color: var(--blue);
}

.nav-list-item:hover::before,
.navbar-brand:hover .title-logo::before  {
    width: 100%;
}


.icon-close-menu {
    display: none;
}

.nav-bar-mobile {
    display: none;
}

.icon-menu {
    display: none;
}

.container-navbar-mobile {
    display: none!important;
}

.banner-home{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;

    text-align: center;
}

.img-background-banner {
    z-index: -1;

    filter: brightness(50%);
}

.img-logo-banner {
    height: 85px;
    width: 95px;

    background-image: url('/logo_lrg_cesar_augusto.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-titles-banner {
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}

.title-banner:nth-child(1) {
    font-size: 30px;
}

.title-banner,
.subtitle-banner {
    margin: 10px;
    font-size: 20px;
}

.title-banner {
    font-family: 'Orbitron', sans-serif;
}

.subtitle-banner {
    letter-spacing: 5px;
}



.section-about-me {
    padding: 0!important;

    display: flex;
    align-items: center;

    min-height: 100vh;
}

.container-about-me {
    justify-content: center;
}

.container-image-profile {
    display: flex;
    justify-content: center;
}

.container-image-profile span {
    border: 3px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px;

    transition-duration: .5s;
}

.image-profile-about-me {
    pointer-events: none;
}

.container-image-profile span:hover {
    transform: scale(1.05);
}

.container-paragraphs-about-me {
    padding: 0;
}

.title-about-me {
    font-size: 30px;
}

.paragraph-about-me {
    font-size: 16px;

    text-align: justify;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}



.section-technologies {
    background-color: var(--black);
}




.section-technologies {
    color: var(--white);

    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    position: relative;
}

.technologies_title {
    font-family: 'Orbitron';
    font-size: 26px;

    text-align: center;
    margin: 20px auto;

    position: relative;

    width: max-content;

    text-transform: uppercase;
}

.technologies_title::before {
    content: '';

    transition-duration: .2s;

    width: 100%;
    height: 1px;

    position: absolute;
    bottom: 0;

    background-color: var(--blue);
}

.technologies_nav_link {
    font-family: 'Orbitron'!important;
    
    color: white;

    font-weight: 600;

    cursor: pointer;
    border: 1px solid white!important;

    margin-right: 5px;
}

.technologies_nav_link:hover {
    color: white!important;
}

.active {
    background-color: var(--white)!important;
    border-color: var(--white)!important;

    color: black!important;
    font-weight: 600!important;

    transition-duration: .5s!important;
}

.active:hover {
    color: var(--blue)!important;
}

.technologies_box {
    width: 80%;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;

    margin: 20px auto;
}

.technologie {
    width: 120px;
    height: 115px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    cursor: default;

    margin: 30px;
}

.technologie .technologie_name{
    width: max-content;

    font-weight: 500;

    position: relative;
}

.technologie_name:before {
    content: '';

    transition-duration: .2s;

    width: 0%;
    height: 1px;

    position: absolute;
    bottom: 0;

    background-color: var(--blue);
}

.technologie:hover  .technologie_name:before {
    width: 100%;
}

.designs_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
    height: 0;

    overflow: hidden;
}
.designs_list {
    width: 300px;

    overflow: hidden;

    margin: 0 30px;

    padding: 0!important;
}

.designs_item {
    margin: 30px 0!important;

    width: max-content;
}




.section-projects {
    min-height: 100vh;
}

.title-projects {
    position: relative;

    font-family: 'Orbitron';

    width: max-content;
    
    margin: 10px auto;
}

.title-projects::before {
    content: '';

    width: 100%;
    height: 2px;

    position: absolute;
    bottom: 0;

    background-color: var(--blue);
}
.projects-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 30px;

    width: 300px;
    min-width: 300px;
    height: 400px;

    cursor: pointer;

    box-shadow: 5px 5px 20px black;

    color: black!important;

    transition-duration: .5s;

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;   
}

.card:hover {
    transform: scale(1.05);

    box-shadow: 10px 10px 20px black;

    color: black;
}

.card:active {
    transform: scale(0.8);

    box-shadow: 0px 0px 0px black;
    color: black!important;
}

.card-body {
    position: relative;

    padding: 20px;
    color: black!important;
}
.card-img-top{
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    height: 40%;
}

.card-click {
    float: right;

    display: flex;

    position: absolute;
    bottom: 20px;
    right: 20px;
    color: black!important;
}

.card-subtitle-click {
    font-weight: 500;

    margin-right: 10px;
    color: black!important;
}

.card-click-hand {
    font-size: 17px;

    transition-duration: .5s;

    animation-name: anm-card-click-hand;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



.footer {
    padding: 20px;

    max-height: 20vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    color: var(--white);
    background-color: var(--black);
}

.footer-container-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-container-icons-social-media {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.footer_link_social_media {
    color: white;
}

.footer_link_social_media:active {
    color: white!important;
}

.footer-icon-social-media  {
    cursor: pointer;

    transition-duration: .5s;

    font-size: 30px;

    margin: 10px;
}

.footer-icon-social-media:hover{
    transform: scale(1.1);
}

.footer-icon-social-media:active{
    transform: scale(0.9);
}
.footer-container-brand {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex: 1;
}

.footer-subtitle-brand {
    margin: 0px 20px;
}

.footer-container-contact {
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.footer-subtitle-contact {
    margin: 0;
}
.footer-list-contact {
    margin: 0!important;
    padding: 0!important;

    width: 100%;

    text-align: center;

    justify-self: center;
}
.footer-item-contact {
    margin: 0!important;
    text-decoration: none!important;
}



.footer-subtitle-contact,
.footer-subtitle-brand,
.footer-subtitle-social-media {
    font-size: 18px;

    font-family: 'Orbitron', sans-serif;
}

@keyframes anm-card-click-hand {
    0% {
        font-size: 17px;
    }
    50% {
        font-size: 18px;
    }
    100% {
        font-size: 17px;
    }
}


@media only screen and (max-width: 930px) {

    .footer {
        max-height: unset;
    }
    .img-logo {
        width: 40px!important;
        height: 39px!important;
    }
    .container-paragraphs-about-me {
        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .title-banner:nth-child(1) {
        font-size: 20px;
    }
    
    .title-banner {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .footer-container-social-media,
    .footer-container-brand,
    .footer-container-contact {
        margin: 30px 0;
    }

    .footer {
        flex-direction: column;
    }
    .technologies_title {
        width: 300px;

        font-size: 15px;
    }

    .technologies_title::before {
        display: none;
    }

    .designs_list {
    }

    .designs_item {
        width: 200px;
    }
}

@media only screen and (max-width: 750px) {



    .container-navbar-mobile {
        display: flex!important;
    }

    .container-nav-bar {
        justify-content: flex-start!important;
    }
    .nav-bar-mobile {
        display: flex;
    
    }
    .icon-menu {
        display: block;
    }
    #side-bar {
        height: 100%;
        width: 100%;

        bottom: 0;

        position: fixed;

        display: none;
        flex-direction: column;
        align-items: unset!important;

        background-color: var(--black);
    }


    .navbar-brand {
       margin-top: 20px;
       margin-left: 40px;
    }

    .nav-bar-mobile-brand {
        margin: 0;
        margin-left: 20px;
    }

    .icon-close-menu {
        display: block;
        color: white;

        position: absolute;

        right: 2vw;
        top: 20px;

        font-size: 50px;
    }

    .nav-list {
        margin: 50px 0px 0px 50px;

        width: 80%;

        display: flex;
        flex-direction: column;
    }

    .nav-list-item {
        width: max-content;

        text-align: left;

        margin: 10px 0!important;

        font-size: 20px!important;
    }

    .icon-menu {
        font-size: 2em;

        margin-right: 10px;
    }
    .section-about-me {
        display: flex;
        justify-content: center;
    }
    .container-about-me {
        width: 100%;
    }
    .title-about-me {
        font-size: 20px;

        width: max-content;
    }
    
    .paragraph-about-me {
        width: 80%;

        font-size: 12px;
    }
}


@media only screen and (max-width: 375px) {
    .navbar-brand img {
        height: 40px!important;
        width: 41px!important;
    }

    .title-logo {
        font-size: 15px!important;
    }

    .icon-close-menu {
        font-size: 30px;
    }
}
