@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar-transparent {
    position: fixed;

    transition-duration: .2s;

    height: 100px;

    padding: 0!important;

    animation-name: anm-navbar;
    animation-duration: 5s;
}

.icon-menu {
    color: white;

    font-size: 3rem;

    margin-right: 30px;

    transition-duration: .5s;
}

.icon-menu:active {
    transform: scale(0.9);
}

.sticky-nav {
    height: 80px;

    background-image: none;
    background-color: var(--gray);

    box-shadow: 0px 1px 10px var(--blue);

    z-index: 2;
}

.nav-bar-mobile-brand span{
    width: 43px!important;
    height: 42px;
}

.title-logo-mobile {
    
    font-size: 14px!important;
}


.container-nav-bar {
    width: 100%;

    padding: 0;
}

.navbar-brand  {

    display: flex;
    align-items: center;

    margin-left: 30px;
    margin-right: 0!important;
}


.navbar-brand .title-logo {
    position: relative;

    color: var(--white);

    margin-left: 20px;

    font-size: 18px;

    font-family: 'Orbitron', sans-serif!important;
}

.nav-list {
    display: flex;
    justify-content: space-between;

    width: min-content;

    margin-right: 80px;
}

.nav-list-item {
    position: relative;
    text-align: center;
    text-decoration: none;

    font-weight: normal;
    font-size: 17px;

    margin-left: 30px;

    cursor: pointer;

    color: var(--white);
}

.linkActive {
    position: relative;
}

.linkActive::before {
    content: '';

    transition-duration: .2s;

    width: 100%!important;
    height: 1px;

    position: absolute;
    bottom: 0;

    background-color: var(--blue);
}

.nav-list-item::before,
.title-logo::before  {
    content: '';

    transition-duration: .2s;

    width: 0%;
    height: 1px;

    position: absolute;
    bottom: 0;

    background-color: var(--blue);
}

.nav-list-item:hover::before,
.navbar-brand:hover .title-logo::before  {
    width: 100%;
}


.icon-close-menu {
    display: none;
}

.nav-bar-mobile {
    display: none;
}

.icon-menu {
    display: none;
}

.container-navbar-mobile {
    display: none!important;
}




.section-projects {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-projects {
    position: relative;

    font-family: 'Poppins';
    
    color: var(--gray-light);

    width: max-content;
    
    margin: 0px auto;
}

.projects-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 80px;
}

.card {
    margin: 30px !important;

    width: 25%!important;
    min-width: 400px!important;
    height: 400px!important;

    color: var(--gray-light)!important;

    background-color: var(--gray)!important;

    border: 3px solid var(--soft-gray)!important;
    border-radius: 30px!important;

    transition-duration: .5s!important;

    cursor: pointer!important;

    text-decoration: none!important;

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;   
}

.card:hover {
    transform: scale(1.04);
}


.card-box-img {
    position: relative;

    height: 40%;

    overflow: hidden;

    border-radius: 30px;
    border-bottom-right-radius: 0px;
}

.card-img-top{
    background-color: var(--gray);

    border-bottom-right-radius: 30px;

    padding: 30px;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.card-img-top::after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 70px 70px 0 40px var(--soft-gray);
}

.card-body {
    position: relative;

    border-top-left-radius: 30px;

    background-color: var(--soft-gray);

    padding: 20px;

    border-radius: 20px;
    border-top-right-radius: 0px;
}

.project-card-box-desc-tech {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.project-card-box-desc {
    width: 50%;
}

.card-title {
    width: max-content;
}

.project-card-box-tech {
    width: 45%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 30px;
}

.project-card-technology {
    background-color: var(--blue);
    width: max-content!important;
    height: max-content;

    box-sizing: border-box;

    padding: 8px;
    margin: 5px;

    border: 2px solid var(--blue);
    border-radius: 20px;
    background-color: rgb(31, 154, 255, 0.6);

    font-size: 12px;
}


.card-click {
    float: right;

    display: flex;

    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card-subtitle-click {
    font-weight: 500;

    margin-right: 10px;
}

.card-click-hand {
    transition-duration: .5s;
}

.project-card-link {
    opacity: 0;
    position: absolute;
    bottom: 0;
    align-self: center;
    width: max-content;
    margin: 10px;
    transition-duration: .2s;
    transform: translateY(10px);
}


.card:hover .project-card-link {
    opacity: 1;
    transform: translateY(0px);
}

.footer {
    padding: 20px;

    max-height: 20vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    color: var(--white);
    background-color: var(--gray);

    box-shadow: 0px 1px 10px var(--blue);
}

.footer-container-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-container-icons-social-media {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.footer_link_social_media {
    color: white;
}

.footer_link_social_media:active {
    color: white!important;
}

.footer-icon-social-media  {
    cursor: pointer;

    transition-duration: .5s;

    font-size: 30px;

    margin: 10px;
}

.footer-icon-social-media:hover{
    transform: scale(1.1);
}

.footer-icon-social-media:active{
    transform: scale(0.9);
}
.footer-container-brand {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex: 1;
}

.footer-subtitle-brand {
    margin: 0px 20px;
}

.footer-container-contact {
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.footer-subtitle-contact {
    margin: 0;
}
.footer-list-contact {
    margin: 0!important;
    padding: 0!important;

    width: 100%;

    text-align: center;

    justify-self: center;
}
.footer-item-contact {
    margin: 0!important;
    text-decoration: none!important;
}
.footer-subtitle-contact,
.footer-subtitle-brand,
.footer-subtitle-social-media {
    font-size: 18px;

    font-family: 'Orbitron', sans-serif!important;
}




@media only screen and (max-width: 991px) {
    .container-about-me {
        margin: 40px 0!important;

        align-items: center!important;
        justify-content: center!important;
    }
    .container-paragraphs-about-me {
        width: max-content;

        margin-top: 20px;
    }
    
    .container-image-profile  {
        margin: 0;
    }
}


@media only screen and (max-width: 930px) {

    .footer {
        max-height: unset;
    }
    .img-logo {
        width: 40px!important;
        height: 39px!important;
    }
    .title-banner:nth-child(1) {
        font-size: 20px;
    }
    
    .title-banner {
        font-size: 15px;
    }

    .card {
        min-width: 400px!important;
    }
}

@media only screen and (max-width: 768px) {
    .footer-container-social-media,
    .footer-container-brand,
    .footer-container-contact {
        margin: 30px 0!important;
    }

    .footer {
        flex-direction: column!important;
    }
    .technologys_title {
        width: 300px!important;

        font-size: 15px!important;
    }

    .technologys_title::before {
        display: none!important;
    }

    .designs_item {
        width: 200px!important;
    }
}

@media only screen and (max-width: 750px) {



    .container-navbar-mobile {
        display: flex!important;
    }

    .container-nav-bar {
        justify-content: flex-start!important;
    }
    .nav-bar-mobile {
        display: flex!important;
    
    }
    .icon-menu {
        display: block!important;
    }
    #side-bar {
        height: 100%!important;
        width: 100%!important;

        bottom: 0!important;

        position: fixed!important;

        display: none!important;
        flex-direction: column!important;
        align-items: unset!important;

        background-color: var(--black)!important;
    }


    .navbar-brand {
       margin-top: 20px!important;
       margin-left: 40px!important;
    }

    .nav-bar-mobile-brand {
        margin: 0!important;
        margin-left: 20px!important;
    }

    .icon-close-menu {
        display: block!important;
        color: white!important;

        position: absolute!important;

        right: 2vw!important;
        top: 20px!important;

        font-size: 50px!important;
    }

    .nav-list {
        margin: 50px 0px 0px 50px;

        width: 80%;

        display: flex;
        flex-direction: column;
    }

    .nav-list-item {
        width: max-content;

        text-align: left;

        margin: 10px 0!important;

        font-size: 20px!important;
    }

    .icon-menu {
        font-size: 2em!important;

        margin-right: 10px!important;
    }

    .subtitle-banner {
        font-size: 13px!important;
    }

    .title-about-me {
        font-size: 20px!important;

        width: max-content!important;
    }
    
    .paragraph-about-me,
    .paragraph-about-me-bottom {
        font-size: 12px!important;
    }

    .card {
        min-width: 300px!important;
        height: max-content!important;
        margin: 10px!important;
    }

    .rocket-conteiner-scene {
        min-width: auto!important;
    }


    .project-card-box-desc-tech {
        flex-wrap: wrap!important;
    }

    .project-card-box-desc{
        min-width: 177px!important;
    }

    .project-card-box-tech {
        width: 100%!important;

        justify-content: flex-start!important;

        margin-bottom: 20px!important;
    }
}

@keyframes anm-navbar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anm-blobs {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

@media only screen and (max-width: 375px) {
    .navbar-brand img {
        height: 40px!important;
        width: 41px!important;
    }

    .title-logo {
        font-size: 15px!important;
    }

    .icon-close-menu {
        font-size: 30px;
    }
}
